* {
    box-sizing: border-box;
}

.story-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.story-page-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 375px;
    max-height: 778px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Utils */
.hidden {
    opacity: 0;
    visibility: hidden;
}
